$base-font: 'Major Mono Display', monospace;
$secondary-font: 'Open Sans', sans-serif;

html,
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
    margin: 0 auto;

    @media only screen and (max-width: 640px) {
        width: 96%;
        padding: 5% 2%;
	}

    .wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;

        .image-container {
            height: auto;
            position: relative;
            padding: 3px;
            flex: 1 1 14%;

            @media only screen and (max-width: 640px) {
                flex: 1 30%;
            }

            &:hover .info-box-wrapper {
                display: block;
            }
    
            .album-image {
                padding-bottom: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top center;
                border-radius: 5px;
            }

            a {
                color: #000;
            }

            .info-box-wrapper {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                text-align: center;
                width: 100%;
                height: 100%;
                background: -moz-linear-gradient(to bottom,  rgba(137,255,241,0) 0%,rgba(255, 255, 255, 1) 40%);
                background: -webkit-gradient(to bottom,  rgba(137,255,241,0) 0%,rgba(255, 255, 255, 1) 40%);
                background: -webkit-linear-gradient(to bottom,  rgba(137,255,241,0) 0%,rgba(255, 255, 255, 1) 40%);
                background: -o-linear-gradient(to bottom,  rgba(137,255,241,0) 0%,rgba(255, 255, 255, 1) 40%);
                background: -ms-linear-gradient(to bottom,  rgba(137,255,241,0) 0%,rgba(255, 255, 255, 1) 40%);
                background: linear-gradient(to bottom,  rgba(137,255,241,0) 0%,rgba(255, 255, 255, 1) 40%);
                border: 1px solid grey;

                .info-box {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);

                    h3 {
                        font-family: $base-font;
                        margin: 10px 0;
                        text-decoration: underline;
                        text-decoration-color: rgb(216, 216, 216);

                        @media only screen and (max-width: 1024px) {
                            margin: 5px 0;
                            font-size: 1rem;
                        }
                    }

                    h5 {
                        font-family: $secondary-font;
                        margin: 0;

                        @media only screen and (max-width: 1024px) {
                            font-size: 0.8rem;
                        }
                    }

                    p {
                        font-family: $secondary-font;
                        margin: 10px 0;

                        @media only screen and (max-width: 1024px) {
                            margin: 3px 0;
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
    }

    .pagination {
        margin: 40px 0 20px;

        .load-more {
            font-family: $base-font;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}
